.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  width: 100%;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.outerContainer {
  width: 100vw; /* Use viewport width units */
  display: flex;
  justify-content: center; /* Center the inner container horizontally */
}

.welcomeMessage {
  color: #333;
  font-size: 1.5rem;

  @media (min-width: 768px) {
    font-size: 2rem;
  }

  @media (min-width: 1024px) {
    font-size: 2.5rem;
  }
}

.home-page {
display: grid;
grid-template-columns: 1fr 3fr;
height: 100vh;
width: 100%;
background-color: #f0f0f0;
}

.class-list {
padding: 20px;
border-right: 1px solid #3d2a2a;
}

.class-list ul {
list-style-type: none;
padding: 0;
}

.class-list li {
padding: 10px;
cursor: pointer;
}

.class-list li.active {
background-color: #892f2f;
font-weight: bold;
border-radius: 8px;
}

.class-details {
padding: 20px;
}

.title {
    color: #3d2a2a;
}

.outerContainer {
    background-color: #fff;
}
  